/*
 * This file contains utility classes that can't be contained in a component and must be applied to the light DOM. None
 * of the rules in this stylesheet should target component tags or HTML tags, and all classes *must* start with ".cps-"
 * to reduce the possibility of collisions.
 */

.cps-scroll-lock {
  padding-right: var(--cps-scroll-lock-size) !important;
  overflow: hidden !important;
}

.cps-toast-stack {
  position: fixed;
  top: 0;
  inset-inline-end: 0;
  z-index: var(--cps-z-index-toast);
  width: 28rem;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
}

.cps-toast-stack cps-notification {
  margin: var(--cps-spacing-4);
}

.cps-toast-stack cps-notification::part(base) {
  backdrop-filter: blur(12px);
  filter: drop-shadow(var(--cps-shadow)) drop-shadow(var(--cps-shadow-lg));
}

.cps-toast-stack cps-notification[variant='neutral']::part(base),
.cps-toast-stack cps-notification:not([variant])::part(base) {
  background: var(--cps-color-background-acrylic);
}

.cps-toast-stack cps-notification[variant='informative']::part(base) {
  background: var(--cps-color-system-informative-acrylic);
}

.cps-toast-stack cps-notification[variant='warning']::part(base) {
  background: var(--cps-color-system-warning-acrylic);
}

.cps-toast-stack cps-notification[variant='critical']::part(base) {
  background: var(--cps-color-system-critical-acrylic);
}

.cps-toast-stack cps-notification[variant='success']::part(base) {
  background: var(--cps-color-system-success-acrylic);
}
